<settings>
    <setting id="touchscreenmode" type="bool">false</setting>
    <setting id="clearart" type="bool">false</setting>
    <setting id="safemode" type="bool">false</setting>
    <setting id="hidemoviecase" type="bool">false</setting>
    <setting id="hidemusiccase" type="bool">false</setting>
    <setting id="hidevideobackgrounds" type="bool">false</setting>
    <setting id="hidevisbackgrounds" type="bool">false</setting>
    <setting id="vis-visualization" type="bool">false</setting>
    <setting id="vis-artistslide" type="bool">false</setting>
    <setting id="vis-slideshow" type="bool">false</setting>
    <setting id="vis-fanart" type="bool">false</setting>
    <setting id="vis-cdwall" type="bool">false</setting>
    <setting id="animatebackgrounds" type="bool">false</setting>
    <setting id="vis-animation" type="bool">false</setting>
    <setting id="widesidemenubuttons" type="bool">false</setting>
    <setting id="hidevisbackground" type="bool">false</setting>
    <setting id="fanartshort" type="bool">false</setting>
    <setting id="fanartlong" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="hidehomevideobackground" type="bool">false</setting>
    <setting id="menu_videos" type="bool">true</setting>
    <setting id="menu_movies" type="bool">false</setting>
    <setting id="home_movies_fanart_background" type="bool">false</setting>
    <setting id="menu_tvshows" type="bool">false</setting>
    <setting id="home_tvshows_fanart_background" type="bool">false</setting>
    <setting id="menu_music" type="bool">false</setting>
    <setting id="home_music_fanart_background" type="bool">false</setting>
    <setting id="homerecentmovies" type="bool">false</setting>
    <setting id="homerandommovies" type="bool">false</setting>
    <setting id="homewatchlistmovies" type="bool">false</setting>
    <setting id="homerecenttvshows" type="bool">false</setting>
    <setting id="homerandomtvshows" type="bool">false</setting>
    <setting id="homewatchlisttvshows" type="bool">false</setting>
    <setting id="menu_musicvideos" type="bool">false</setting>
    <setting id="homerecentmusicvideos" type="bool">false</setting>
    <setting id="homerandommusicvideos" type="bool">false</setting>
    <setting id="homewatchlistmusicvideos" type="bool">false</setting>
    <setting id="homerecentalbums" type="bool">false</setting>
    <setting id="homerandomalbums" type="bool">false</setting>
    <setting id="homewatchlistalbums" type="bool">false</setting>
    <setting id="menu_programs" type="bool">false</setting>
    <setting id="homerandomaddons" type="bool">false</setting>
    <setting id="qlock" type="bool">false</setting>
    <setting id="animatefanart" type="bool">false</setting>
    <setting id="menu_weather" type="bool">false</setting>
    <setting id="homepageweatherinfo" type="bool">false</setting>
    <setting id="menu_settings" type="bool">false</setting>
    <setting id="homepagesysteminfo" type="bool">false</setting>
    <setting id="menu_tv" type="bool">false</setting>
    <setting id="homepagevideoinfo" type="bool">false</setting>
    <setting id="homepagetvinfo" type="bool">false</setting>
    <setting id="homepagemusicinfo" type="bool">false</setting>
    <setting id="home_weather_icon" type="bool">false</setting>
    <setting id="resource.images.weathericons.multi" type="bool">false</setting>
    <setting id="cdart" type="bool">false</setting>
    <setting id="horizontalhomemenu" type="bool">false</setting>
    <setting id="widehomemenu" type="bool">false</setting>
    <setting id="menu_pictures" type="bool">false</setting>
    <setting id="menu_games" type="bool">false</setting>
    <setting id="menu_favourites" type="bool">false</setting>
    <setting id="menu_playdisc" type="bool">false</setting>
    <setting id="menu_custom1" type="bool">false</setting>
    <setting id="menu_custom2" type="bool">false</setting>
    <setting id="menu_custom3" type="bool">false</setting>
    <setting id="menu_videos_sub" type="bool">false</setting>
    <setting id="menu_movies_sub" type="bool">false</setting>
    <setting id="menu_tvshows_sub" type="bool">false</setting>
    <setting id="menu_musicvideos_sub" type="bool">false</setting>
    <setting id="menu_tv_sub" type="bool">false</setting>
    <setting id="menu_music_sub" type="bool">false</setting>
    <setting id="menu_pictures_sub" type="bool">false</setting>
    <setting id="menu_programs_sub" type="bool">true</setting>
    <setting id="menu_games_sub" type="bool">false</setting>
    <setting id="menu_weather_sub" type="bool">false</setting>
    <setting id="menu_favourites_sub" type="bool">false</setting>
    <setting id="menu_settings_sub" type="bool">false</setting>
    <setting id="menu_playdisc_sub" type="bool">false</setting>
    <setting id="menu_custom1_sub" type="bool">false</setting>
    <setting id="menu_custom2_sub" type="bool">false</setting>
    <setting id="menu_custom3_sub" type="bool">false</setting>
    <setting id="hidesearch" type="bool">false</setting>
    <setting id="resource.images.homeweatherfanart.multi" type="bool">false</setting>
    <setting id="menu_movies_sub_library" type="bool">false</setting>
    <setting id="menu_movies_sub_genres" type="bool">false</setting>
    <setting id="menu_movies_sub_years" type="bool">false</setting>
    <setting id="menu_movies_sub_actors" type="bool">false</setting>
    <setting id="menu_movies_sub_directors" type="bool">false</setting>
    <setting id="menu_movies_sub_studios" type="bool">false</setting>
    <setting id="menu_movies_sub_countries" type="bool">false</setting>
    <setting id="menu_movies_sub_sets" type="bool">false</setting>
    <setting id="menu_movies_sub_tags" type="bool">false</setting>
    <setting id="menu_movies_sub_recentlyadded" type="bool">false</setting>
    <setting id="menu_movies_sub_playlists" type="bool">false</setting>
    <setting id="menu_movies_sub_recordings" type="bool">false</setting>
    <setting id="menu_movies_sub_videoplugins" type="bool">false</setting>
    <setting id="menu_movies_sub_musicvideos" type="bool">false</setting>
    <setting id="menu_movies_sub_videopartymode" type="bool">false</setting>
    <setting id="menu_movies_sub_custom1" type="bool">false</setting>
    <setting id="menu_movies_sub_custom2" type="bool">false</setting>
    <setting id="menu_movies_sub_custom3" type="bool">false</setting>
    <setting id="menu_movies_sub_custom4" type="bool">false</setting>
    <setting id="menu_movies_sub_custom5" type="bool">false</setting>
    <setting id="menu_movies_sub_custom6" type="bool">false</setting>
    <setting id="menu_movies_sub_custom7" type="bool">false</setting>
    <setting id="menu_movies_sub_custom8" type="bool">false</setting>
    <setting id="menu_tvshows_sub_tvguide" type="bool">false</setting>
    <setting id="menu_tvshows_sub_genres" type="bool">false</setting>
    <setting id="menu_tvshows_sub_years" type="bool">false</setting>
    <setting id="menu_tvshows_sub_actors" type="bool">false</setting>
    <setting id="menu_tvshows_sub_studio" type="bool">false</setting>
    <setting id="menu_tvshows_sub_recentlyadded" type="bool">false</setting>
    <setting id="menu_tvshows_sub_inprogress" type="bool">false</setting>
    <setting id="menu_tvshows_sub_videoplugins" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom1" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom2" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom3" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom4" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom5" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom6" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom7" type="bool">false</setting>
    <setting id="menu_tvshows_sub_custom8" type="bool">false</setting>
    <setting id="menu_tv_sub_tvguide" type="bool">false</setting>
    <setting id="menu_tv_sub_tvrecordings" type="bool">false</setting>
    <setting id="menu_tv_sub_tvsearch" type="bool">false</setting>
    <setting id="menu_tv_sub_tvtimers" type="bool">false</setting>
    <setting id="menu_tv_sub_tvtimerrules" type="bool">false</setting>
    <setting id="menu_tv_sub_radiochannels" type="bool">false</setting>
    <setting id="menu_tv_sub_radioguide" type="bool">false</setting>
    <setting id="menu_tv_sub_radiorecordings" type="bool">false</setting>
    <setting id="menu_tv_sub_radiosearch" type="bool">false</setting>
    <setting id="menu_tv_sub_radiotimers" type="bool">false</setting>
    <setting id="menu_tv_sub_radiotimerrules" type="bool">false</setting>
    <setting id="menu_tv_sub_custom1" type="bool">false</setting>
    <setting id="menu_tv_sub_custom2" type="bool">false</setting>
    <setting id="menu_tv_sub_custom3" type="bool">false</setting>
    <setting id="menu_music_sub_files" type="bool">false</setting>
    <setting id="menu_music_sub_library" type="bool">false</setting>
    <setting id="menu_music_sub_albums" type="bool">false</setting>
    <setting id="menu_music_sub_songs" type="bool">false</setting>
    <setting id="menu_music_sub_singles" type="bool">false</setting>
    <setting id="menu_music_sub_genres" type="bool">false</setting>
    <setting id="menu_music_sub_years" type="bool">false</setting>
    <setting id="menu_music_sub_top100" type="bool">false</setting>
    <setting id="menu_music_sub_recentlyadded" type="bool">false</setting>
    <setting id="menu_music_sub_recentlyplayed" type="bool">false</setting>
    <setting id="menu_music_sub_playlists" type="bool">false</setting>
    <setting id="menu_music_sub_compilations" type="bool">false</setting>
    <setting id="menu_music_sub_musicplugins" type="bool">false</setting>
    <setting id="menu_music_sub_musicvideos" type="bool">false</setting>
    <setting id="menu_music_sub_musicpartymode" type="bool">false</setting>
    <setting id="menu_music_sub_custom1" type="bool">false</setting>
    <setting id="menu_music_sub_custom2" type="bool">false</setting>
    <setting id="menu_music_sub_custom3" type="bool">false</setting>
    <setting id="menu_music_sub_custom4" type="bool">false</setting>
    <setting id="menu_music_sub_custom5" type="bool">false</setting>
    <setting id="menu_music_sub_custom6" type="bool">false</setting>
    <setting id="menu_music_sub_custom7" type="bool">false</setting>
    <setting id="menu_music_sub_custom8" type="bool">false</setting>
    <setting id="menu_settings_sub_skinsettings" type="bool">false</setting>
    <setting id="menu_settings_sub_player" type="bool">false</setting>
    <setting id="menu_settings_sub_tv" type="bool">false</setting>
    <setting id="menu_settings_sub_library" type="bool">false</setting>
    <setting id="menu_settings_sub_system" type="bool">false</setting>
    <setting id="menu_settings_sub_network" type="bool">false</setting>
    <setting id="menu_settings_sub_profiles" type="bool">false</setting>
    <setting id="menu_settings_sub_interface" type="bool">false</setting>
    <setting id="menu_settings_sub_addons" type="bool">false</setting>
    <setting id="menu_settings_sub_systeminfo" type="bool">false</setting>
    <setting id="menu_settings_sub_filemanager" type="bool">false</setting>
    <setting id="menu_settings_sub_custom1" type="bool">false</setting>
    <setting id="menu_settings_sub_custom2" type="bool">false</setting>
    <setting id="menu_settings_sub_custom3" type="bool">false</setting>
    <setting id="hide_shutdown_master" type="bool">false</setting>
    <setting id="hide_shutdown_logoff" type="bool">false</setting>
    <setting id="hide_shutdown_info" type="bool">false</setting>
    <setting id="hide_shutdown_filemanager" type="bool">false</setting>
    <setting id="hide_shutdown_exit" type="bool">false</setting>
    <setting id="hide_shutdown_restart" type="bool">false</setting>
    <setting id="hide_shutdown_shutdown" type="bool">false</setting>
    <setting id="hide_shutdown_suspend" type="bool">false</setting>
    <setting id="hide_shutdown_hibernate" type="bool">false</setting>
    <setting id="hide_shutdown_favourites" type="bool">false</setting>
    <setting id="hide_shutdown_reboot" type="bool">false</setting>
    <setting id="hide_shutdown_settings" type="bool">false</setting>
    <setting id="hide_shutdown_eject" type="bool">false</setting>
    <setting id="videogenrebackgrounds" type="bool">false</setting>
    <setting id="movielogo" type="bool">false</setting>
    <setting id="moviesextrafanart" type="bool">false</setting>
    <setting id="moviesextrathumbs" type="bool">false</setting>
    <setting id="fullscreen_trailer" type="bool">false</setting>
    <setting id="hidetvshowcase" type="bool">false</setting>
    <setting id="tvshowsposters" type="bool">false</setting>
    <setting id="tvlogo" type="bool">false</setting>
    <setting id="seasonfanart" type="bool">false</setting>
    <setting id="tvshowsextrafanart" type="bool">false</setting>
    <setting id="musicvideosextrafanart" type="bool">false</setting>
    <setting id="artistlogo" type="bool">false</setting>
    <setting id="musicextrafanart" type="bool">false</setting>
    <setting id="musicgenrebackgrounds" type="bool">false</setting>
    <setting id="programsextrafanart" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="debugmode" type="bool">false</setting>
    <setting id="resource.images.weatherfanart.multi" type="bool">false</setting>
    <setting id="home_movies_fanart_options" type="bool">false</setting>
    <setting id="home_tvshows_fanart_options" type="bool">false</setting>
    <setting id="home_music_fanart_options" type="bool">false</setting>
    <setting id="animate_home_movies_fanart_background" type="bool">false</setting>
    <setting id="animate_home_tvshows_fanart_background" type="bool">false</setting>
    <setting id="animate_home_music_fanart_background" type="bool">false</setting>
    <setting id="enable_foldericons_movies_genre" type="bool">false</setting>
    <setting id="enable_foldericons_tvshows_genre" type="bool">false</setting>
    <setting id="enable_foldericons_musicvideos_genre" type="bool">false</setting>
    <setting id="enable_foldericons_music_genre" type="bool">false</setting>
    <setting id="enable_movies_media_flags" type="bool">false</setting>
    <setting id="enable_tvshows_media_flags" type="bool">false</setting>
    <setting id="enable_musicvideos_media_flags" type="bool">false</setting>
    <setting id="enable_tv_media_flags" type="bool">false</setting>
    <setting id="enable_music_media_flags" type="bool">false</setting>
    <setting id="enable_movies_watched_flags" type="bool">false</setting>
    <setting id="enable_tvshows_watched_flags" type="bool">false</setting>
    <setting id="enable_musicvideos_watched_flags" type="bool">false</setting>
    <setting id="enable_videos_watched_flags" type="bool">false</setting>
    <setting id="hide_trailer_icon" type="bool">false</setting>
    <setting id="nextaired" type="bool">false</setting>
    <setting id="fanartmedium" type="bool">false</setting>
    <setting id="fanart_show_banners" type="bool">false</setting>
    <setting id="fanartshowplot" type="bool">false</setting>
    <setting id="hide-video-icons-caseanimation" type="bool">false</setting>
    <setting id="hide-music-icons-caseanimation" type="bool">false</setting>
    <setting id="hideinfopanelslideview" type="bool">false</setting>
    <setting id="hideinfopanelitemview" type="bool">false</setting>
    <setting id="hideinfopanelcoverview" type="bool">false</setting>
    <setting id="hideinfopanelicons" type="bool">false</setting>
    <setting id="wallshowplot" type="bool">false</setting>
    <setting id="hide-videos-fulllist" type="bool">false</setting>
    <setting id="hide-videos-list" type="bool">false</setting>
    <setting id="hide-videos-thumbnail" type="bool">false</setting>
    <setting id="hide-videos-mediainfo" type="bool">false</setting>
    <setting id="hide-videos-coverflow" type="bool">false</setting>
    <setting id="hide-videos-slide" type="bool">false</setting>
    <setting id="hide-videos-wideicon" type="bool">false</setting>
    <setting id="hide-videos-icons" type="bool">false</setting>
    <setting id="hide-videos-wall" type="bool">false</setting>
    <setting id="hide-videos-item" type="bool">false</setting>
    <setting id="hide-music-fulllist" type="bool">false</setting>
    <setting id="hide-music-list" type="bool">false</setting>
    <setting id="hide-music-thumbnail" type="bool">false</setting>
    <setting id="hide-music-mediainfo" type="bool">false</setting>
    <setting id="hide-music-coverflow" type="bool">false</setting>
    <setting id="hide-music-icons" type="bool">false</setting>
    <setting id="hide-music-wall" type="bool">false</setting>
    <setting id="hide-music-jukebox" type="bool">false</setting>
    <setting id="hide-music-item" type="bool">false</setting>
    <setting id="hide-pictures-fulllist" type="bool">false</setting>
    <setting id="hide-pictures-list" type="bool">false</setting>
    <setting id="hide-pictures-thumbnail" type="bool">false</setting>
    <setting id="hide-pictures-mediainfo" type="bool">false</setting>
    <setting id="hide-pictures-picthumb" type="bool">false</setting>
    <setting id="hide-pictures-polaroid" type="bool">false</setting>
    <setting id="hide-programs-fulllist" type="bool">false</setting>
    <setting id="hide-programs-list" type="bool">false</setting>
    <setting id="hide-programs-thumbnail" type="bool">false</setting>
    <setting id="hide-programs-mediainfo" type="bool">false</setting>
    <setting id="hide-games-fulllist" type="bool">false</setting>
    <setting id="hide-games-list" type="bool">false</setting>
    <setting id="hide-games-thumbnail" type="bool">false</setting>
    <setting id="hide-addons-fulllist" type="bool">false</setting>
    <setting id="hide-addons-list" type="bool">false</setting>
    <setting id="hide-addons-thumbnail" type="bool">false</setting>
    <setting id="menu_videos_sub_custom1" type="bool">false</setting>
    <setting id="menu_videos_sub_custom2" type="bool">false</setting>
    <setting id="menu_videos_sub_custom3" type="bool">false</setting>
    <setting id="menu_videos_sub_custom4" type="bool">false</setting>
    <setting id="menu_videos_sub_custom5" type="bool">false</setting>
    <setting id="menu_videos_sub_custom6" type="bool">false</setting>
    <setting id="menu_videos_sub_custom7" type="bool">false</setting>
    <setting id="menu_videos_sub_custom8" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_genres" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_years" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_artists" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_albums" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_directors" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_studio" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_recentlyadded" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_videoplugins" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom1" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom2" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom3" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom4" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom5" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom6" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom7" type="bool">false</setting>
    <setting id="menu_musicvideos_sub_custom8" type="bool">false</setting>
    <setting id="menu_pictures_sub_pictureplugins" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom1" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom2" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom3" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom4" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom5" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom6" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom7" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom8" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom9" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom10" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom11" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom12" type="bool">false</setting>
    <setting id="menu_pictures_sub_custom13" type="bool">false</setting>
    <setting id="menu_programs_sub_files" type="bool">false</setting>
    <setting id="menu_programs_sub_custom1" type="bool">false</setting>
    <setting id="menu_programs_sub_custom2" type="bool">false</setting>
    <setting id="menu_programs_sub_custom3" type="bool">false</setting>
    <setting id="menu_programs_sub_custom4" type="bool">false</setting>
    <setting id="menu_programs_sub_custom5" type="bool">false</setting>
    <setting id="menu_programs_sub_custom6" type="bool">false</setting>
    <setting id="menu_programs_sub_custom7" type="bool">false</setting>
    <setting id="menu_programs_sub_custom8" type="bool">false</setting>
    <setting id="menu_programs_sub_custom9" type="bool">false</setting>
    <setting id="menu_programs_sub_custom10" type="bool">false</setting>
    <setting id="menu_programs_sub_custom11" type="bool">true</setting>
    <setting id="menu_programs_sub_custom12" type="bool">false</setting>
    <setting id="menu_programs_sub_custom13" type="bool">false</setting>
    <setting id="menu_programs_sub_custom14" type="bool">false</setting>
    <setting id="menu_programs_sub_custom15" type="bool">false</setting>
    <setting id="menu_programs_sub_custom16" type="bool">false</setting>
    <setting id="menu_programs_sub_custom17" type="bool">false</setting>
    <setting id="menu_programs_sub_custom18" type="bool">false</setting>
    <setting id="menu_programs_sub_custom19" type="bool">false</setting>
    <setting id="menu_programs_sub_custom20" type="bool">false</setting>
    <setting id="menu_programs_sub_custom21" type="bool">false</setting>
    <setting id="menu_programs_sub_custom22" type="bool">false</setting>
    <setting id="menu_games_sub_addons" type="bool">false</setting>
    <setting id="menu_games_sub_custom1" type="bool">false</setting>
    <setting id="menu_games_sub_custom2" type="bool">false</setting>
    <setting id="menu_games_sub_custom3" type="bool">false</setting>
    <setting id="menu_games_sub_custom4" type="bool">false</setting>
    <setting id="menu_games_sub_custom5" type="bool">false</setting>
    <setting id="menu_weather_sub_custom1" type="bool">false</setting>
    <setting id="menu_weather_sub_custom2" type="bool">false</setting>
    <setting id="menu_weather_sub_custom3" type="bool">false</setting>
    <setting id="menu_weather_sub_custom4" type="bool">false</setting>
    <setting id="menu_weather_sub_custom5" type="bool">false</setting>
    <setting id="menu_weather_sub_custom6" type="bool">false</setting>
    <setting id="menu_favourites_sub_custom1" type="bool">false</setting>
    <setting id="menu_favourites_sub_custom2" type="bool">false</setting>
    <setting id="menu_favourites_sub_custom3" type="bool">false</setting>
    <setting id="menu_favourites_sub_custom4" type="bool">false</setting>
    <setting id="menu_favourites_sub_custom5" type="bool">false</setting>
    <setting id="menu_playdisc_sub_playercontrols" type="bool">false</setting>
    <setting id="menu_playdisc_sub_eject" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom1" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom2" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom3" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom4" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom5" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom1" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom2" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom3" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom4" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom5" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom6" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom7" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom8" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom9" type="bool">false</setting>
    <setting id="menu_custom1_sub_custom10" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom1" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom2" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom3" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom4" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom5" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom6" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom7" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom8" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom9" type="bool">false</setting>
    <setting id="menu_custom2_sub_custom10" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom1" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom2" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom3" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom4" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom5" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom6" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom7" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom8" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom9" type="bool">false</setting>
    <setting id="menu_custom3_sub_custom10" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom6" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom7" type="bool">false</setting>
    <setting id="menu_playdisc_sub_custom8" type="bool">false</setting>
    <setting id="cross1" type="bool">false</setting>
    <setting id="circle1" type="bool">false</setting>
    <setting id="cross2" type="bool">false</setting>
    <setting id="circle2" type="bool">false</setting>
    <setting id="cross3" type="bool">false</setting>
    <setting id="circle3" type="bool">false</setting>
    <setting id="cross4" type="bool">false</setting>
    <setting id="circle4" type="bool">false</setting>
    <setting id="cross5" type="bool">false</setting>
    <setting id="circle5" type="bool">false</setting>
    <setting id="cross6" type="bool">false</setting>
    <setting id="circle6" type="bool">false</setting>
    <setting id="cross7" type="bool">false</setting>
    <setting id="circle7" type="bool">false</setting>
    <setting id="cross8" type="bool">false</setting>
    <setting id="circle8" type="bool">false</setting>
    <setting id="cross9" type="bool">false</setting>
    <setting id="circle9" type="bool">false</setting>
    <setting id="enable_musicvideos_flags" type="bool">false</setting>
    <setting id="Custom_Back_Settings_Folder" type="string"></setting>
    <setting id="Custom_Back_Music_Folder" type="string"></setting>
    <setting id="skinsettings" type="string">8</setting>
    <setting id="resource.images.weathericons.path" type="string"></setting>
    <setting id="Home_Custom_Back_Videos_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Movies_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_TVShows_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Music_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Pictures_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Programs_Folder" type="string"></setting>
    <setting id="resource.images.homeweatherfanart.path" type="string"></setting>
    <setting id="homeweatherpath" type="string"></setting>
    <setting id="Home_Custom_Back_Settings_Folder" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_TV_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_TV_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_TV_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_Settings_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Settings_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Settings_Sub_Custom3.Label" type="string"></setting>
    <setting id="Video_Genre_Folder" type="string"></setting>
    <setting id="Music_Folder_Path" type="string"></setting>
    <setting id="Music_Genre_Folder" type="string"></setting>
    <setting id="Programs_Folder_Path" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="Home_Custom_Back_MusicVideos_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Games_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Favourites_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_PlayDisc_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Custom1_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Custom2_Folder" type="string"></setting>
    <setting id="Home_Custom_Back_Custom3_Folder" type="string"></setting>
    <setting id="Custom_Back_Videos_Folder" type="string"></setting>
    <setting id="Custom_Back_Movies_Folder" type="string"></setting>
    <setting id="Custom_Back_TVShows_Folder" type="string"></setting>
    <setting id="Custom_Back_MusicVideos_Folder" type="string"></setting>
    <setting id="Custom_Back_TV_Folder" type="string"></setting>
    <setting id="Custom_Back_Pictures_Folder" type="string"></setting>
    <setting id="Custom_Back_Programs_Folder" type="string"></setting>
    <setting id="Custom_Back_Games_Folder" type="string"></setting>
    <setting id="resource.images.weatherfanart.path" type="string"></setting>
    <setting id="weatherpath" type="string"></setting>
    <setting id="Custom_Back_Login_Folder" type="string"></setting>
    <setting id="Custom_Home_Movies_Fanart_Background_Path" type="string"></setting>
    <setting id="Custom_Home_TVShows_Fanart_Background_Path" type="string"></setting>
    <setting id="Custom_Home_Music_Fanart_Background_Path" type="string"></setting>
    <setting id="resource.images.studios.name" type="string"></setting>
    <setting id="resource.images.recordlabels.name" type="string"></setting>
    <setting id="resource.images.moviegenreicons.name" type="string"></setting>
    <setting id="resource.images.musicgenreicons.name" type="string"></setting>
    <setting id="resource.images.weathericons.name" type="string"></setting>
    <setting id="settingsmenu" type="string">8</setting>
    <setting id="Menu_Videos_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom6_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom7_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom8_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom9_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom10_Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom11.Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom12.Label" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom13.Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom4_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom5_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom6_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom7_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom8_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom9_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom10_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom11_Label" type="string">Exodus</setting>
    <setting id="Menu_Programs_Sub_Custom12_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom13_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom14_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom15_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom16_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom17_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom18_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom19_Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom20.Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom21.Label" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom22.Label" type="string"></setting>
    <setting id="Menu_Games_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Games_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Games_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Games_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Games_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom3_Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Favourites_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Favourites_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Favourites_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Favourites_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Favourites_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom1_Label" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom2_Label" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Custom1.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom9.Label" type="string"></setting>
    <setting id="Menu_Custom1_Sub_Custom10.Label" type="string"></setting>
    <setting id="Menu_Custom2.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom9.Label" type="string"></setting>
    <setting id="Menu_Custom2_Sub_Custom10.Label" type="string"></setting>
    <setting id="Menu_Custom3.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom1.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom2.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom3.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom4.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom5.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom6.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom7.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom8.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom9.Label" type="string"></setting>
    <setting id="Menu_Custom3_Sub_Custom10.Label" type="string"></setting>
    <setting id="videoscustom" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_Videos_Sub_Custom5_Path" type="string"></setting>
    <setting id="moviescustom" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_Movies_Sub_Custom5_Path" type="string"></setting>
    <setting id="tvshowscustom" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_TVShows_Sub_Custom5_Path" type="string"></setting>
    <setting id="musicvideoscustom" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_MusicVideos_Sub_Custom5_Path" type="string"></setting>
    <setting id="tvcustom" type="string"></setting>
    <setting id="musiccustom" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_Music_Sub_Custom5_Path" type="string"></setting>
    <setting id="picturescustom" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom5_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom6_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom7_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom8_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom9_Path" type="string"></setting>
    <setting id="Menu_Pictures_Sub_Custom10_Path" type="string"></setting>
    <setting id="programscustom" type="string">11</setting>
    <setting id="Menu_Programs_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom3_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom4_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom5_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom6_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom7_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom8_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom9_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom10_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom11_Path" type="string">plugin.video.exodus</setting>
    <setting id="Menu_Programs_Sub_Custom12_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom13_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom14_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom15_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom16_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom17_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom18_Path" type="string"></setting>
    <setting id="Menu_Programs_Sub_Custom19_Path" type="string"></setting>
    <setting id="gamescustom" type="string"></setting>
    <setting id="weathercustom" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom2_Path" type="string"></setting>
    <setting id="Menu_Weather_Sub_Custom3_Path" type="string"></setting>
    <setting id="favouritescustom" type="string"></setting>
    <setting id="settingscustom" type="string"></setting>
    <setting id="playdisccustom" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom1_Path" type="string"></setting>
    <setting id="Menu_PlayDisc_Sub_Custom2_Path" type="string"></setting>
    <setting id="custom1custom" type="string"></setting>
    <setting id="custom2custom" type="string"></setting>
    <setting id="custom3custom" type="string"></setting>
    <setting id="player1name" type="string"></setting>
    <setting id="player1score" type="string"></setting>
    <setting id="player2name" type="string"></setting>
    <setting id="player2score" type="string"></setting>
    <setting id="playerturn" type="string"></setting>
    <setting id="resource.images.studios.path" type="string"></setting>
    <setting id="resource.images.recordlabels.path" type="string"></setting>
    <setting id="resource.images.recorlabels.path" type="string"></setting>
    <setting id="resource.images.moviegenreicons.path" type="string"></setting>
    <setting id="resource.images.musicgenreicons.path" type="string"></setting>
</settings>
